.containerAvatar {
    min-width: 3.75rem;
    border-radius: 100%;
    overflow: hidden;
}

.userAvatar {
    object-fit: cover;
}

.containerAvatar, .userAvatar {
    width: 3.75rem;
    height: 3.75rem;
}

@media (max-width: 600px) {
    .containerAvatar {
        min-width: 2.5rem;
        max-width: 2.5rem;
    }

    .userAvatar {
        width: 2.5rem;
        height: 2.5rem;
    }
}