.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 0.5rem;
    padding: 1rem;
}

.postContainer {
    display: flex;
}

@media (max-width: 600px) {
    .notification {
        align-items: flex-start;
        max-width: 375px;
    }
}