.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 0.5rem;
}

.notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 800;
}

.notificationCounter {
    margin-left: 1rem;
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    background-color: var(--blue);
    color: var(--white);

    text-align: center;
}

.markAll {
    color: var(--dark-grayish-blue);
    font-weight: 500;
}