.post {
    width: 100%;
    margin-left: 1rem;
}

.notification {
    width: 100%;
    display: inline;
}

.username {
    font-weight: 600;
    letter-spacing: -1.3px;
    color: var(--very-dark-blue);
}

.username, .action, .description {
    margin-right: 0.5rem;
}


.description {
    font-weight: 800;
    letter-spacing: -1px;
}

.description, .action {
    color: var(--dark-grayish-blue);
}

.time {
    color: var(--grayish-blue);
    margin-top: 5px;
    letter-spacing: -1px;
}

.action, .time {
    line-height: 1.5rem;
}